<div class="car">
  <!--  <h1 class="card-head" style="text-align: center; color: deeppink">Book List</h1>-->
  <nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <h1 style="margin: auto; color: antiquewhite">BOOK LIST</h1>
      <div class="d-flex">
        <button class="btn-success" [routerLink]="['/create']" type="button">ADD BOOK</button>
      </div>
    </div>
  </nav>
  <div class="card-body">
    <table border=1; class="table mt-3" style="text-align: center;">
      <thead>
      <tr>
        <th>#ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th colspan="3">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let b of findAll()">
        <td scope="row">{{b.id}}</td>
        <td>{{b.title}}</td>
        <td>{{b.author}}</td>
        <td>{{b.description}}</td>
        <td>
          <button class="btn btn-secondary" [routerLink]="['/detail/'+ b.id]">Detail</button>
        </td>
        <td><button class="btn btn-info" [routerLink]="['/edit/'+b.id]">Edit</button></td>
        <td><button class="btn btn-danger max-3" (click)="delete(b.id)">Delete</button></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
